<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>LoadArticles</servlet-name>
        <servlet-class>LoadArticlesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoadArticles</servlet-name>
        <url-pattern>/Articles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>LogInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FBAuth</servlet-name>
        <servlet-class>OAuth2fb</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FBAuth</servlet-name>
        <url-pattern>/oauth2fb</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>edit_Article</servlet-name>
        <servlet-class>EditArticle</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>edit_Article</servlet-name>
        <url-pattern>/editArticles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>EditProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>DeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>CheckUsernameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/checkusername</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckPasswordServlet</servlet-name>
        <servlet-class>CheckPasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckPasswordServlet</servlet-name>
        <url-pattern>/checkpassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchArticleServlet</servlet-name>
        <servlet-class>SearchArticleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchArticleServlet</servlet-name>
        <url-pattern>/searcharticle</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>

    <error-page>
        <error-code>666</error-code>
        <location>/error666.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>MyArticles</servlet-name>
        <servlet-class>PersonalArticles</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyArticles</servlet-name>
        <url-pattern>/myArticles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <jsp-file>/aboutus.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Privacy</servlet-name>
        <jsp-file>/privacy.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Privacy</servlet-name>
        <url-pattern>/privacy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignupPage</servlet-name>
        <jsp-file>/signup.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignupPage</servlet-name>
        <url-pattern>/Signuppage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewArticle</servlet-name>
        <jsp-file>/newArticle.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewArticle</servlet-name>
        <url-pattern>/NewArticle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Welcome</servlet-name>
        <jsp-file>/welcome.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getOneArticle</servlet-name>
        <servlet-class>IndividualArticleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getOneArticle</servlet-name>
        <url-pattern>/OneArticle</url-pattern>
    </servlet-mapping>

</web-app>